body {
		background-image: url("images/space.jpg");

		background-attachment: fixed;
		}
  h1 {
		font-family: 'Verdana';

		text-align: center;

		color:white;
		
		font-size:65px;
}
  h2{
	    font-family: 'Verdana';
		
        color:white;
		
		text-align: center;
		
		font-size: 50px;
  }
  table, th, td {
		border: 3px solid blue;
		
		text-align: auto;
		
		font size: 25px;
  }
  th{
	    font-family: 'Verdana';

		text-align:center;

		color: lightblue;
		
		font-size:50px;

		
  }
  td{
		font-family: 'Verdana';

		text-align:center;

		color: red;

		font-size: 25px;
}
  table.center {
	  
	width:80%
}
  images {
		width:400px;

		height:400px;

		padding:100px;

		border:100px;
}